.alert{
    align-content: center;
    width: 20%;
}

.col{
   
    padding-top:20mm;
    padding-bottom: 10mm;
    padding-left:40%;
    margin-top: -7%;
    
    
    
}
.design{
    border: 2px solid black;
    border-radius: 4px;
    background-color:lightgrey;
    text-align: center;
    text-decoration-color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
    
}
​
.col-2{
    padding-bottom: 5mm;
 
}
.centre{
   position: relative;
   background-color:azure;
   border-radius: 8px;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



.buy{
    position: relative;
    background-color:green;
    padding: 16px;
    border-radius: 8px;
    font-size: 20px;
    margin-left: -3.5%;
 
 }
 .buy:hover{
     box-shadow: 0 12px 16px 0 rgba(201, 198, 198, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 
 }
 .sell:hover{
     box-shadow: 0 12px 16px 0 rgba(201, 198, 198, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 
 }
 .sell{
     position: relative;
     background-color:brown;
     padding:  16px;
     border-radius: 8px;
     font-size: 20px;
     
  }

.bt{
    padding-left:7%;
}

