.container {
  display: flex;
}

.others {
  flex: 6;
  background-color: wheat;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home{
  flex:4;
  height: 90vh;
  align-items: center;
  justify-content: center;
 }

.history,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}